:root {
  --azul: #427ab5;
  --principal: #c83232;
  --fondo: #f8f9fa;
  --texto: #222;
  --jugadores: #ffffff;
}

.menu {
  display: flex;
  gap: 30px;
}

nav {
  background: linear-gradient(90deg, var(--azul) 0%, var(--principal) 100%);
  color: white;
  padding: 20px 40px;
}

.presentacion {
  display: flex;
  align-items: center;
}

.presentacion img {
  height: 60px;
}

div text {
  text-align: center;
}

a {
  margin-right: 10px;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 55vh; 
  gap: 30px;          
}

.datos{
  width: 500px;          
  height: 500px;            
  background-color: #F0554D; 
  border: 3px solid #F0554D;    
  border-radius: 20px;        
  box-shadow: 0 4px 15px rgba(0,0,0,0.3); 

  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;  

  color: white;  
}

.cont {
  width: 1100px;          
  height: 500px;            
  background-color: #F0554D; 
  border: 3px solid #F0554D;    
  border-radius: 20px;        
  box-shadow: 0 4px 15px rgba(0,0,0,0.3); 
  
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;     
  
  color: white;            
  font-size: 18px;         
  font-family: Arial, Helvetica, sans-serif;       
  text-align: center; 
  line-height: 1.2;
  max-width: 900px;   
  font-weight: 500; 
  padding: 5px; 
}

/*
.texto-centrado {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  max-width: 1100px;
  margin: 0 auto;
}
*/

li {
  font-size: 20px;
}

.etiqueta {
  text-align: center;
  opacity: 0.8;
}
