
:root{
            --azul:#427AB5; 
            --principal:#C83232; 
            --fondo:#F8F9FA;
            --texto:#ffffff;
            --jugadores:#FFFFFF;
        }

.header {
	padding: 6em;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-image: url(../Images/);
}

.header-text {
	text-align: center;
	text-transform: uppercase;
	color: var(--secondary-tc);
	font-family: 'Panton', sans-serif;
}

.header h1 {
	margin: 0;
	font-size: 100px;
	text-shadow: 0px 4.5px 0px #000000a2;
}

.header span {
	margin: 0;
	font-size: 40px;
	text-transform: initial;
	text-shadow: 0px 1.5px 0px #000000a2;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.footer {
	padding: 30px;
	background-color: #e9e9e9;
}

.footer-container {
	justify-content: space-between;
}

.footer-credits {
	margin: 0px 15px 0px 0px;
}

.footer-credits-photo img {
	width: 60px;
	height: 60px;
	margin-right: 10px;
	box-shadow: 0px 0px 2px;
}

.footer-credits-photo h2 {
	font-size: 30px;
	font-family: 'Panton';
	color: var(--primary-tc);
	text-transform: uppercase;
}

.footer-credits a {
	text-decoration: none;
}

.footer-credits-photo h2::after {
	width: 70%;
	content: '';
	height: 3px;
	display: block;
	margin: 0 auto;
	background-color: #999999;
}

.footer-items {
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	justify-content: center;
    margin: 20px;
}

.footer-socials img {
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
}

.discord-social {
	background-color: #106299;
}

.twitter-social {
	background-color: #10b0b6;
}

.yt-social {
	background-color: #ce1414;
}

.nav {
    background:linear-gradient(90deg,var(--azul) 0%,var(--principal) 100%);
	display: flex;
	align-items: center ;
	justify-content:space-between;
	padding: 1px 20px;
	border-bottom: 2px solid white;
	font-family: 'Panton', sans-serif !important;
	background-color: var(--secondary-bc);
}
    

.nav-list a {
	padding: 15px;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--secondary-tc);
}

.nav-list a:hover {
	border-radius: 5px;
	color: var(--primary-tc);
	background-color: #ffffff;
}

.nav-btn:hover {
	transform: translateY(-5px);
}

.nav-logo {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px; 
}

.nav-logo h1 {
	color: var(--secondary-tc);
	margin: 0;
	font-size: 30px;
	text-transform: uppercase;
}

.nav-logo h1::after {
	content: '';
	width: 70%;
	height: 2px;
	margin: auto;
	display: block;
	background-color: #ffffff;
}

.nav-list {
	display: flex;
	justify-content: center;
}

.nav-btn {
	border-radius: 5px;
	padding: 15px 25px;
	text-decoration: none;
	text-transform: uppercase;
	border: 2px solid white;
	color: var(--secondary-tc);
	text-shadow: 0px 1.5px 0px #00000040;
	transition: .4s ease-in-out;
}

.nav-btn span {
	margin-left: 5px;
	color: var(--primary-button-tc);
}

.btn-login {
	background-color: var(--primary-button-bc);
}

.btn-sucess {
	margin-left: 10px;
}

.discover {
	padding: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: var(--secondary-tc);
	background-color: var(--secondary-bc);
}

.discover h1 {
	margin: 0;
	font-size: 70px;
	font-family: 'Panton';
	text-transform: uppercase;
}

.discover h1::after {
	content: '';
	display: block;
	width: 70%;
	height: 3px;
	background-color: #bebebe;
	margin: 0 auto;
}

.carousel-item {
	display:flexbox;
	align-items: center;
	gap: 20px;
    padding: 30px;
}

.carousel-item img {
	width: 250px; 
	height: auto;
	border-radius: 10px;
}

.carousel-item h2,
.carousel-item p {
	margin: 0;
}


.carousel-item {
	display: flex;
	margin: 40px 0px 0px 0px;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 400px;
	opacity: 0;
	transition: opacity 1s ease-in;
	position: absolute; 
}


.carousel-item.active {
	opacity: 1;
	position: relative;
	z-index: 1;
}


.carousel-radio {
	display: flex;
	justify-content: center;
}

.radio-input {
	display: none;
}

.radio-label {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: gray;
	margin: 0 5px;
	cursor: pointer;
	margin-top: 20px;
}

.radio-input:checked+.radio-label {
	background-color: white;
	transform: scale(1.5);
}

.carousel {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 100%;
}

.carousel-control {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 40px;
	color: #fff;
	cursor: pointer;
	padding: 10px;
	user-select: none;
	z-index: 2;
}

.carousel-control.left {
	left: 10px;
}

.carousel-control.right {
	right: 10px;
}

.carousel-item {
	display: none;
	position: absolute;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.carousel-item.active {
	display: flex;
	opacity: 1;
	z-index: 1;
}

.carousel-item img {
	width: 400px;
	height: 130px;
	border: 4px solid #76c3d3;
	box-shadow: 0px 5px 0px #76c3d3;
	border-radius: 5px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    color: #333;
    cursor: pointer;
    z-index: 2;
}

.carousel-control.left {
    left: 10px;
}

.carousel-control.right {
    right: 10px;
}

.carousel-control:hover {
    color: #76c3d3;
}
